# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info
dist
build

# My configurations:
db.ini
deploy_key_rsa
.DBStore/*
.idea/*
__pycache__/*
venv/*

*/__pycache__/*

CNN_learning/3_cifar10/cifar_img_data/*
